body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}
a{
    color: white;
    text-decoration: none;
}
h1{
    margin-top: 80px;
    text-align: center;
    font-size: 45px;
}

img{
    max-width: 100%;
    display: block;
}

.header{
    background-color: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu{
    display: flex;
}
.menu li{
    margin-left: 10px;
}
.menu li a{
    display: block;
    padding: 10px;
}


/* CSS FLEXBOX 1*/

.flexbox{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flexbox > div{
    flex: 1 1 500px;
}

/* CSS GRID 1 */


